<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magestack_deferjs>
            <general>
                <enable>1</enable>
                <enable_iframe>1</enable_iframe>
            </general>
        </magestack_deferjs>
    </default>
</config>
